-r requirements.txt
pre-commit~=3.7
ruff~=0.4
black~=25.1
colorlog~=6.10
pvlib~=0.11
matplotlib~=3.10
ipykernel~=7.2
nbconvert>=7.17.1  # For executing notebooks in CI
pytest>=9.0.3
pytest-asyncio>=1.3.0
pytest-cov>=7.1.0
pytest-homeassistant-custom-component==0.13.326
hypothesis>=6.0
